.searchBar{
    min-height: 2.5rem;
    display: flex;
    border: 2px solid black;
    flex-wrap: wrap;
    border-radius: 10px;
    align-items: center;
}

.wayToSearch, .searchHolder{
    border: none;
    font-size: 1.5rem;
    border-right: 2px solid black;
    outline: none;
}

.wayToSearch{
    flex: 18%;
}

.searchHolder{
    margin-left: 2%;
    flex: 70%;
}

.searchBtn{
    cursor: pointer;
    height: 1.5rem;
    flex: 10%;
    background-image: url('../../../assets/icon/magnifying-glass-solid.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.searchBtn:hover{
    opacity: 0.5;
}

@media only screen and (max-width: 600px) {
    .wayToSearch, .searchHolder{
        border: none;
    }

    .wayToSearch{
        border-bottom: 1px solid black;
    }

    .searchHolder{
        font-size: 1.2rem;
    }
}