.searchResult{
    height: 500px;
    /* border: 2px solid black; */
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    border-radius: 5px;
    overflow-y: scroll;
    margin-top: 2rem;
}

.result{
    display: flex;
    border-bottom: 1px solid black;  
    align-items: center; 
}

.openSection{
    height: 135.5px;
}

.openSection, .endSection{
    flex: 20%;
}

.middleSection{
    flex: 60%;
}

/* .middleSection h3{
    display: block;
    width: 100%;
    overflow-x: hidden;
} */

.middleSection ul{
    /* height: 1rem; */
    /* width: 100%; */
    /* overflow-x: hidden; */
    display: flex;
    list-style: none;
}

.middleSection ul li+li::before{
    content: "|";
    margin: 0 5px;
}

.endSection{
    display: flex;
    justify-content: center;
}

.endSection img{
    cursor: pointer;
    max-height: 3rem;
    min-width: 1rem;
}

.endSection img:hover{
    opacity: 0.5;
}